footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 4px 0 4px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    p {
        margin: 0;
    }
}